body{
  color: #495456;
}

h4 {
  font-weight: 600;
}

.main {
  padding: 12px;
  display: flex;
  margin-top: 50px;
  margin-bottom: 90px;
}

.left-body {
  padding: 0px 40px;
}

.left-body h4 {
  font-size: 45px;
  max-width: 600px;
}


.right-body {
  padding: 12px;
}

.right-body img {
  max-width: 100%;
}

@media (max-width: 900px) {
  .main {
    flex-direction: column-reverse;
  }

  .left-body h4 {
    /* max-width: 400px; */
  }
}

@media (max-width: 400px) {
  .left-body h4 {
   max-width: 300px;
  }

  .get-started-btn {
    padding: 17px 57px !important;
  }
}

@media (max-width: 300px){
  .left-body h4{
    font-size: 27px;
    max-width: 200px;
  }

  .get-started-btn{
    padding: 12px !important;
  }
}