h4{
  font-weight: 600;
}

.main{
  /* height: 100vh; */
  padding: 12px;
  display: flex;
  margin-top: 50px;
}

.left-body{
  padding: 0px 40px;
}


.left-body h4{
  font-size: 45px;
  width: 600px;
}


.right-body{
  padding: 12px;
}

.right-body img{
  width: 100%;
}
.partners{
  background: #3F3D56;
  margin: auto 40px;
  padding: 1px 7px;
  margin-bottom: 55px;
}

.partners ul{
  text-align: center;
}

.partners ul li{
  display: inline;
  padding: 12px;
  text-transform: lowercase;
  font-size: 23px;
  font-weight: 500;
}