.counters{
  margin-top: 70px;
  padding: 0px 13px;
}

.counters span{
  font-weight: 400;
  font-size: 2.3rem;
  color: #333333;
  margin-right: 21px;
}
.counters li{
  color: #333333;
  display: inline;
  font-size: 2.3rem;
  font-weight: 300;
}

@media (max-width: 900px){
  .counters{
    margin: 30px auto;
  }  

  .counters ul{
    /* white-space: pre-line; */
    /* width: 100px; */
    display: flex;
    flex-direction: column;
  }
}