 @import url("https://fonts.googleapis.com/css?family=Arbutus+Slab|Open+Sans&display=swap");

.course-lead{
  text-align: center;
  font-size: 32px;
  background: #3F3D56;
  color: #ffffff;
  padding: 30px;
}

.course-lead-liner{
  padding: 15px;
  border: none;
}

.course-card{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Open Sans, sans-serif;
}

.card-container{
  gap: 30px;
  padding: 12px;
  margin: 12px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.course{
  background: #dbd8d8;
  flex: 1 1 1;
  margin: 12px;
  width: 250px;
  padding: 0 16px;
  box-sizing: border-box;
  /* background: #ffffff; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px -4px 8px rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  cursor: pointer;
  border-radius: 9px;
}

.course:hover{
  transform: scale(1.1);
}

.course-content{
  padding: 5px;
}


.course-content h2 {
  font-family: Arbutus Slab, serif;
  font-weight: normal;
  line-height: 1.25;
  color: #000000;
}

.course-content h3{
  color: #495456;
}

.course-content p {
  font-size: 14px;
  color: #000000;
}

